{% extends "base.html" %}


{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class = "form-group">
        {{ form.title.errors }}
        <label for = "{{ form.title.id_for_label }}">  Title:       </label>
        {{ form.title }}
    </div>
     <div class = "form-group">
        {{ form.description.errors }}
        <label for = "{{ form.description.id_for_label }}">  Description:       </label>
        {{ form.description }}
    </div>
    <div class = "form-group">
        {{ form.state.errors }}
        <label for = "{{ form.state.id_for_label }}">  Choose state:       </label>
        {{form.state}}
    </div>
    <br>
    <br>
    {{ author_form }}
    <input type="submit" value="submit">
</form>
{% endblock %}
